{% extends "base.html" %} {% block title %}Perserverance{% endblock title %} {% block content %}
<br>
<div class="card">
	<div class="card-body">
		<p class="card-text">Due to the recent outbreak of many storms and natural disasters, NASA and the U.S government worked together on funding a project on sending me, The Solar Plex ++, to patrol above Earth and take some close-up pictures, sending the data back to the space station and government.</p>
	</div>
</div>
<br>
<div class="card">
	<div class="card-body">
		<p class="card-text">We were going to figure out what was the cause of so many storms, and due to our recent establishment of settlement on Mars, there was a chance everyone would move to this planet because of the increase in global warming over the past few decades.</p>
	</div>
</div>
<br>
<div class="card">
	<div class="card-body">
		<p class="card-text"> There was a very important job on my hands. After calculating the logistics, I sent the data back that would track the storms and disasters.</p>
		<a class="btn btn-primary" href="/api/4" class="card-link">EONET(Events)</a>
	</div>
</div>
<br>
<div class="card">
	<div class="card-body">
		<p class="card-text">On test day 2, I was sent again to capture more images, but this time, with a polychromatic camera! Woohoo! </p>
		<a class="btn btn-primary" href="/api/5" class="card-link">EPIC(Images)</a>
	</div>
</div>
<br>
<div class="card">
	<div class="card-body">
		<p class="card-text">On test day 3, multiple satellites were sent to receive data, just like me. We all came up with similar results, and a deduction was formed for a solution to save humanity. We were going to move to Mars. </p>
		<a class="btn btn-primary" href="/api/6" class="card-link">TLE(Satelites)</a>
	</div>
</div>
{% endblock content %}