{% extends "base.html" %} {% block title %}SpaceY{% endblock title %} {% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4" data-masonry='{"percentPosition": true }' style="padding-top: 24px;">
	<div class="col">
		<div class="card">
			<img src="{{url_for('static', filename='logo.png')}}" class="card-img-top" alt="Logo">
			<div class="card-body">
				<h5 class="card-title">Get Started</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Use these links to jump straight in to different stories and dive in to the fun!<br><a class="btn btn-outline-dark" href="/perseverance" class="card-link">Perseverance</a> <a class="btn btn-outline-dark" href="/outerspace" class="card-link">Outer Space</a> <a class="btn btn-outline-dark" href="/earth" class="card-link">Earth</a></li>
                <li class="list-group-item">You can also use the Navbar above to jump straight to an API page or story! &uarr; &uarr; &uarr;<br><b>NOTE: Some APIs request images from NASA, and this can cause them to load for up to 5 seconds.</b></li>
                <li class="list-group-item">To learn more about the website, it's purpose, inspiration, challenges, accomplishments, and future plans, keep reading below! &darr; &darr; &darr;</li>
            </ul>
        </div>
	</div>
    <div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Introduction</h5>
				<p class="card-text">Welcome to SpaceY, a collection of 3 short stories all taken from 3 different perspectives, each
					with links to API calls that provide relevant data. Our stories include: The Perseverance Drone Landing on Mars, a Martian
					Astronaut, and Satellites addressing the natural disaster situation on Earth. Every story has 2-3 relevant APIs that
					provide statistical info from NASA, a trusted source, about specific events</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Inspiration</h5>
				<p class="card-text">For our first story, we were inspired by the recent Perseverance Drone Landing on Mars on February
					18, 2021. After that, we brainstormed ideas for how to integrate more space events, and decided that we could display
					a collection of 3 short stories. Then, in order to increase the visually appealing portion of our website, and make
					it more of a challenge, we decided to use NASA APIs that would perform functions needed to fit into our stories.</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">What it does</h5>
				<p class="card-text">The website has 5 pages. First, there is a home page with links to the stories. Three other pages
					are the story pages. And finally, the last page is an API call page, which displays results from an API. On the story
					pages, there are links situated throughout each story, depending on the situation in the story. These links take the
					user to the API page mentioned before. For example, if this was an excerpt from one of our stories: "As I landed on
					the smooth reddish ground of Mars, I knew people depended on me... Perseverance. I decided to take some samples of the
					climate of the red planet." There would be a link right next to this line that would take the user to the insight API,
					which records weather on Mars. </p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Challenges we ran into and accomplishments that we're proud of</h5>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">A major challenge we ran into was using one template and one route for all the API pages. This was difficult, as we needed to specify which API we were going to use, and we needed to customize that page in order to render data from different types of APIs. We were about to give up on this strategy, when we finally figured out how to pass parameters in urls. We're glad we kept on going, as without it we would need to make 6 more templates and routes, which would become chaotic.</li>
				<li class="list-group-item">Another huge challenge was getting some of the APIs to work. A lot of the NASA APIs we wanted to use were lookup APIs, which meant they worked best when given certain parameters, like the coordinates and date. Although we could successfully use random numbers to accomplish this, some of the APIs didn't work with our random numbers, and we had to make adjustments or completely remove the APIs from the stories. </li>
				<li class="list-group-item">Additionally, at the start, none of us had experience with NASA APIs, and even APIs in general. It took us a while to figure out how to even use the APIs. And once we figured that out, we realized that every API call will return data that is super inconsistent. If we try to access a certain field from an API, it would work on the first day, but on the second day the returned JSON would just have no value for the data we needed to access. This was a huge struggle for us, as we needed to throughly read the docs in order to figure out which fields will be present consistently. </li>
				<li class="list-group-item">A final issue with the APIs was that they would store the data in a bunch of nested dictionaries, which meant that we had to use trial-and-error in order to figure out where the data that we needed was. And often times, to access the data, we would need a bunch of dictionary get methods, which would often extend past the PEP 8 line limits. This trial-and-error process took about 30 minutes per API, which made it difficult since we were working with a ton of APIs and were a bit short on time.</li>
				<li class="list-group-item">Finally, a major challenge we had was our teammates. In the process of finding a team for the hackathon, we came across 4 people who wanted to join the team, but who later left or decided to not contribute to the project. This uncertainty took away a lot of time for working on the project, and at the end, we finally found a team who would stick to the project and work hard.</li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">How we built it</h5>
				<p class="card-text">All four of our team members contributed in many different ways to make this possible as a team
					effort.</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Krishnan Shankar: I mainly created functions that request data from the NASA APIs and parse
					them into some displayable text and some images. I also coded the backend of the website using Flask to render the templates.
					I made the backend so that it uses a single template to render all the APIs, which helped with management a lot. I also
					helped a bit with the design of the website, including organization and HTML pages. Finally, I took care of deploying
					the website to Heroku, to ensure it stays up 24/7.</li>
				<li class="list-group-item">Shivam Suri: I created some of the functions that request data from the NASA APIs and parse
					them some displayable text and images. I also wrote all 3 of the stories, and planned where each API link would be on
					the story. Additionally, I helped on designing our logo by brainstorming ideas, and implementing the created stories
					into the story pages, along with rendering the APIs on the API page with Krishnan Shankar.</li>
				<li class="list-group-item">Noel Jackson: I worked as a frontend developer in this project, in charge of making it aesthetically
					pleasing. My job was to work on animations and perfecting the user interface. Additionally, I aided in the making of
					the cards and linking them to the API. </li>
				<li class="list-group-item">Alex Kasprzak: I also worked as a frontend developer, working with Noel to give the website a more professional look and colorscheme. With prior writing experience I also helped to edit the existing stories. My job was to work on perfecting the user experience, showcasing it through recording a demo of our website.</li>
			</ul>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">What we learned</h5>
				<p class="card-text">All of us became a lot more experienced with handling API data and styling websites. We found out
					how to debug API errors, and how we can use this JSON data to convert it into text and image links. We also learned
					more about how to make a website look professional and appeal more to the audience, using advanced CSS and HTML, along
					with javascript for alerting users or tracking errors. This project was a fabulous experience to showcase our knowledge
					of Coding and Science, and we all look forward to doing more projects like this one!</p>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">What's Next For SpaceY</h5>
				<p class="card-text">In the future, we plan to add even more stories, explore more APIs, and learn how to use some of
					the APIs that we didn't know how to fetch data from during our hackathon. (Earth API, SSD/CNEOS API) We are also thinking
					about expanding our project with other APIs not from NASA, including Google Earth API. We will continue to work on our
					logo and style our website more, making it look very professional and more user-friendly. There are a lot of advancements
					that our open to code for our project, and we will continue to improve our project in the future. </p>
			</div>
		</div>
	</div>
</div>
{% endblock content %}