{% extends "base.html" %}
{% block title %}Perserverance{% endblock title %}
{% block content %}
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">Today was going to be the craziest day of my life; NASA had sent the first team of astronauts who would attempt a Martian landing. I was one of them, John Peter. </p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">After landing, the journey to Mars was pretty smooth; our fellow crewmates took pictures of celestial matter, and sent them back to NASA to assure them the mission was going successfully. </p>
    <a class="btn btn-primary" href="/api/2" class="card-link">APOD(Photos)</a>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">Furthermore, we used a special device that used ultrasound waves to track planets within a certain radius. </p>
    <a class="btn btn-primary" href="/api/3" class="card-link">Exoplanet</a>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">After we landed on Mars, we placed the U.S flag on the hard ground of the red planet, and marked our discovery. Our crew cheered with thrill: they had made history. Mankind had finally progressed in space travel, landing on Mars after all these years. </p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">From July 20th, 1969, when Neil Armstrong landed on the Moon, to February 18th, 2021, to when the perseverance drone landed on Mars, humanity had set itself up for making it to Mars on August 23rd, 2030- 61 years. </p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">We returned to Earth after staying on Mars for a couple sols. Preparing for future explorations, we hope to discover the slightest traces of life for many more years to come.</p>
  </div>
</div>
{% endblock content %}