{% extends "base.html" %}
{% block title %}Perseverance{% endblock title %}
{% block content %}
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">I observed the broad, cerise landscape around me. People from all around the world were watching my landing. I knew that I was the first step to innovation, and bringing humans to Mars. </p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">After all, in order for inhabitation to take place, people must always regard the natural environment of the location they plan to settle in. </p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text"> Additionally, I also retrieved geological samples of rocks on Mars, studying them for its composition and traces of life. I also surveyed the Martian surface, taking images of rock formations and craters. </p>
    <a class="btn btn-primary" href="/api/0" class="card-link">Insight API</a>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text"> After scouting for a while, I transmitted the data to the Launch Complex 41 at Cape Canaveral Air Force Station, Florida. </p>
    <a class="btn btn-primary" href="/api/1" class="card-link">Mars Rover Photos</a>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">The space station intercepted the images, and we were one step closer to ensuring human settlement on Mars. </p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
    <p class="card-text">I felt proud of myself, and proud of whoever built me. I just hope I don’t run into any Martians who try to do something fishy... </p>
  </div>
</div>
{% endblock content %}